@import 'variables';
@import 'parallax';

.branded-header {
  text-shadow: 1px 1px 2px $main;
  line-height: .8;
  color: $main;
  font-size: 8em;
  font-family: $headline;
  position: relative;
  z-index: 200;
  // .busbud {
  //   color: $busbud;
  //   text-shadow: 1px 1px 2px $busbud;
  // }
  .x {
    text-shadow: 1px 1px 2px $black;
    color: $black;
    padding-left: 10px;
  }
}

.img-container {
  width: 100%;
  height: 485px;
  overflow: hidden;
  margin-top: -102px;
}

.background-img {
  @include parallax(-.4);
  background-image: url('../../public/cropped-background.png');
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fixed {
  background-attachment: scroll;
  margin-top: -175px;
}
