.results-body {
  box-sizing: border-box;
  width: 790px;
  padding-top: 20px;
  margin-top: 20px;
  background-color: white;
}

.no-results {
  box-sizing: border-box;
  margin-top: 40px;
  text-align: center;
  width: 790px;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  font-family: $sans-serif;
  padding: 10px 10px 10px 10px;
  background-color: $busbud;
}

.single-result {
  border: 1px solid $lightgray;
  display: flex;
  align-items: center;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: $sans-serif;

  .result-element {
    box-sizing: border-box;
    padding: 10px;
  }

  .carrier {
    font-size: 1.2em;
  }

  .price {
    width: 150px;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
  }

  .actual-price {
    font-size: .5em;
    font-weight: 300;
    color: $darkgray;
    margin-top: -20px;
  }

  .itinerary {
    width: 450px;
    span {
      margin: 10px 20px 10px 0px;
      font-weight: 300;
    }
    .time {
      font-weight: 500;
    }
  }

  .more-info {
    width: 150px;
    text-align: center;
    button {
      font-family: $sans-serif;
      font-size: 1.2em;
      padding: 10px 15px 10px 15px;
      background: $lightblue;
      border: 1px solid #C7E0F2;
    }
  }
}
