/*fonts*/
$headline: 'Paytone One', serif;
$sans-serif: 'Quicksand', sans-serif;

/*colors*/
$black: #000000;
$busbud: #117DCA;
$lightblue: #A8CFEB;
$main: #D0C31A;
$darkgray: #5C5C5C;
$lightgray: #B9B9B9;

/*parallax*/
$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;
