/*fonts*/
$headline: 'Paytone One', serif;

/*colors*/
$black: #000000;
$main: #208AAE;

/*parallax*/
$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;
