@import 'normalize';
@import 'landingPage';
@import 'searchPage';
@import 'search';
@import 'results';
@import '../../node_modules/react-day-picker/lib/style';
@import 'calendar';
@import 'spinner';

body {
  margin: 0px;
}

#root {
  position: relative;
}

.search-page, .branded-header {
  margin-left: 50px;
}
