@import 'normalize';
@import 'landingPage';
@import 'searchPage';
@import 'search';
@import 'results';

body {
  margin: 0px;
}

#root {
  position: relative;
}

.search-page, .branded-header {
  margin-left: 50px;
}
