@import 'normalize';
@import 'landingPage';
@import 'searchPage';
@import 'search';
@import 'results';
@import '../../node_modules/react-day-picker/lib/style';
@import 'calendar';
@import 'spinner';
@import 'responsive';
@import 'thanks';

body {
  margin: 0px;
}

#root {
  position: relative;
}

@media only screen and (min-width: 905px) {
  .branded-header {
    margin-left: 50px;
  }
  .search-page {
    padding-left: 50px;
  }
}

button {
  &:hover {
    filter: brightness(95%);
  }
}

.hidden, .hidden-thanks {
  display: none;
}
